@import 'variables';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #222222;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

img {
  max-width: 100%;
  height: auto;
}

.ui-rules {
  position: relative;
  font-size: 13px;
  letter-spacing: 0.025em;
  padding-left: 32px;
  line-height: 1.4;
  display: block;
}

.ui-rules a {
  text-decoration: underline;
  color: inherit;
}

.ui-rules a:hover {
  color: #2d0af0;
}

.ui-rules input {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 18px;
  height: 18px;
}

.ui-full-width {
  width: 100%;
}

.ui-input {
  font-size: 14px;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(190, 190, 190);
  background-color: rgb(255, 255, 255);
  padding: 0 16px;
  font-family: inherit;
  color: #505661;
  border-radius: 0;
  min-height: 56px;
  width: 100%;
  display: block;
  @media (max-width: $breakpoint-xsmall-max) {
    border-width: 2px;
    min-height: 48px;
  }
}

.ui-input::placeholder {
  color: #505661;
}

.ui-input:focus {
  border-color: #ffcb16;
}

.ui-textarea {
  font-size: 14px;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(190, 190, 190);
  background-color: rgb(255, 255, 255);
  padding: 16px;
  font-family: inherit;
  color: #505661;
  border-radius: 0;
  min-height: 100%;
  width: 100%;
  resize: none;
  display: block;
  @media (max-width: $breakpoint-xsmall-max) {
    border-width: 2px;
    min-height: 48px;
  }
}

.ui-textarea::placeholder {
  color: #505661;
}

.ui-textarea:focus {
  border-color: #ffcb16;
}

.ui-container {
  width: 1170px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.ui-button-secondary {
  background: #325bf4;
  display: inline-block;
  color: #fefeff;
  padding: 0 35px;
  max-width: 100%;
  text-align: center;
  line-height: 52px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  white-space: nowrap;
  letter-spacing: 0.05em;
  color: rgb(254, 254, 255);
  text-decoration: none;
  text-shadow: -0.914px 0.407px 1px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  transition: background-color .3s ease-out, box-shadow .5s ease-in-out;
}

.ui-button-secondary_small {
  padding: 0 25px;
  line-height: 42px;
  border-radius: 21px;
  font-size: 16px;
  letter-spacing: 0.025em;
}

.ui-button-secondary:hover {
  background-color: rgb(18, 175, 229);
  box-shadow: 2.847px 10.625px 9px 0px rgba(20, 195, 255, 0.5);
}

.ui-button-primary {
  background: #ff144d;
  color: #fefeff;
  display: inline-block;
  padding: 0 35px;
  text-align: center;
  line-height: 52px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  white-space: nowrap;
  letter-spacing: 0.05em;
  color: rgb(254, 254, 255);
  text-decoration: none;
  text-shadow: -0.914px 0.407px 1px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  transition: background-color .3s ease-out, box-shadow .5s ease-in-out;
}

.ui-button-primary_small {
  padding: 0 25px;
  line-height: 42px;
  border-radius: 21px;
  font-size: 16px;
  letter-spacing: 0.025em;
}

.ui-button-primary:hover {
  background-color: rgb(229, 18, 69);
  box-shadow: 2.847px 10.625px 9px 0px rgba(255, 20, 77, 0.5);
}

.card-light {
  position: relative;
  z-index: 1;
  padding: 42px 8px 28px;
  width: 100%;
  display: block;
  text-decoration: none;
  @media (max-width: $breakpoint-xsmall-max) {
    padding-top: 17px;
    padding-bottom: 8px;
    padding-left: 2px;
    padding-right: 2px;
  }
}

.ui-button-thirdy {
  font-size: 16px;
  color: #325bf4;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  padding: 0 20px;
  display: block;
  border-radius: 24px;
  line-height: 42px;
  border: 2px solid currentColor;
  background: transparent;
  cursor: pointer;
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 14px;
    line-height: 36px;
    // border-width: 2px;
  }
  &:hover {
    color: #fff;
    background: #325bf4;
    border-color: #325bf4;
  }
}

.ui-button-thirdy_slide-up::after {
  content: '';
  display: inline-block;
  transform: rotate(135deg);
  position: relative;
  top: 1px;
  width: 7px;
  height: 7px;
  border-left: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  margin-left: 7px;
}

.card-light_odd {
  background: #f0f0f0;
}

.card-light::before {
  content: '';
  background-color: rgb(248, 248, 248);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: .3s ease;
  transition-property: transform, box-shadow, background-color;
}

.card-light:hover {
  z-index: 2;
}

.card-light:hover .card-light__title {
  color: #3244a0;
}

.card-light:hover .card-light__icon svg {
  fill: #325bf4;
}

.card-light:hover::before {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 37.6px 2.4px rgba(0, 0, 0, 0.15);
  transform: scale(1.25);
}

.card-light__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 66%;
    height: 100px;
    width: 100px;
  }
}

.card-light__icon svg {
  fill: #9f9f9f;
}

.card-light__title {
  line-height: 1.2;
  text-align: center;
  font-size: 22px;
  color: #222222;
  font-weight: 800;
  min-height: 3.6em;
  margin-top: 5px;
  display: block;
  @media (max-width: $breakpoint-medium-max) {
    font-size: 20px;
  }
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 14px;
    line-height: 1;
  }
}

.card-secondary {

}

.card-secondary__image {
  height: 120px;
  display: flex;
  align-items: center;
  margin-bottom: 11px;
  @media (max-width: $breakpoint-xsmall-max) {
    height: 60px;
    font-size: 56%;
    margin-bottom: 10px;
  }
}

.card-secondary__image svg {
  fill: #24315e;
}

.card-secondary__title {
  font-size: 24px;
  color: #24315e;
  line-height: 1.2;
  font-weight: 800;
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 13px;
    line-height: 1;
  }
}

.card-secondary__desc {
  font-size: 16px;
  color: #222222;
  line-height: 1.125;
  margin-top: 17px;
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 13px;
    line-height: 12px;
    margin-top: 10px;
  }
}

.request-form {
  background-color: rgb(252, 252, 252);
  box-shadow: 0px 0px 27.26px 1.74px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: wrap;
  padding-left: 88px;
  padding-right: 88px;
  padding-top: 54px;
  padding-bottom: 62px;
  align-items: flex-start;
  @media (max-width: $breakpoint-small-max) {
    padding: 20px;
  }
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 13px;
    line-height: 12px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 37px;
    padding-bottom: 23px;
    flex-direction: column;
  }
}

.request-form__title {
  font-weight: bold;
  font-size: 24px;
  color: #222;
  width: 100%;
  margin-bottom: 32px;
  line-height: 1;
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 18px;
    margin-bottom: 8px;
  }
}

.request-form__left {
  width: calc(44% - 25px);
  @media (max-width: $breakpoint-xsmall-max) {
    width: 100%;
  }
}

.request-form__right {
  width: calc(56% - 25px);
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  @media (max-width: $breakpoint-xsmall-max) {
    width: 100%;
    margin-left: 0;
    margin-top: 43px;
  }
}

.request-form__input {
  width: 100%;
  height: 35px;
  border: 1px solid #c3c6d0;
  font-size: 12px;
  font-family: inherit;
  color: #676767;
  text-align: center;
}

.request-form__select {
  width: 100%;
  height: 35px;
  border: 1px solid #c3c6d0;
  font-size: 12px;
  font-family: inherit;
  color: #676767;
  text-align: center;
}

.request-form__submit {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 50px;
  @media (max-width: $breakpoint-xsmall-max) {
    margin-top: 29px;
    .ui-button-secondary {
      font-size: 15px;
      line-height: 44px;
      padding: 0 30px;
    }
  }
}

.request-form__addresses > * + * {
  margin-top: 20px;
  @media (max-width: $breakpoint-xsmall-max) {
    margin-top: 10px;
  }
}

.request-form__address {
  display: flex;
  align-items: center;
}

.request-form__address-icon {
  margin-right: 32px;
  flex-shrink: 0;
  @media (max-width: $breakpoint-xsmall-max) {
    margin-right: 5px;
  }
}

.request-form__address-input {
  line-height: 40px;
  height: 40px;
  border: none;
  border-bottom: 1px solid #c3c6d0;
  padding: 0 8px;
  font-size: 14px;
  color: #676767;
  font-family: inherit;
  width: 100%;
  background: transparent;
}

.request-form__dimensions {
  width: 100%;
  display: flex;
  align-items: center;
  @media (max-width: $breakpoint-xsmall-max) {
    flex-wrap: wrap;
    margin-top: 12px;
  }
}

.request-form__dimensions-label {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  width: 88px;
  flex-shrink: 0;
  @media (max-width: $breakpoint-xsmall-max) {
    width: 100%;
    margin-bottom: 6px;
    font-size: 14px;
  }
}

.request-form__dimensions-separator {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  width: 30px;
  flex-shrink: 0;
  text-align: center;
}

.request-form__dimensions-input {
  width: 69px;
  @media (max-width: $breakpoint-xsmall-max) {
    width: calc(33.33% - 20px);
  }
}

.request-form__weight {
  display: flex;
  align-items: center;
  margin-top: 40px;
  @media (max-width: $breakpoint-xsmall-max) {
    flex-wrap: wrap;
    width: calc(50% - 4px);
    margin-top: 19px;
  }
}

.request-form__weight-label {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  width: 88px;
  flex-shrink: 0;
  @media (max-width: $breakpoint-xsmall-max) {
    width: 100%;
    font-size: 14px;
    margin-bottom: 6px;
  }
}

.request-form__weight-input {
  width: 69px;
  @media (max-width: $breakpoint-xsmall-max) {
    width: 100%;
  }
}

.request-form__axes {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-top: 40px;
  @media (max-width: $breakpoint-xsmall-max) {
    flex-wrap: wrap;
    width: calc(50% - 4px);
    margin-left: 8px;
    margin-top: 19px;
  }
}

.request-form__axes-label {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  width: 99px;
  flex-shrink: 0;
  @media (max-width: $breakpoint-xsmall-max) {
    width: 100%;
    font-size: 14px;
    margin-bottom: 6px;
  }
}

.request-form__axes-input {
  width: 69px;
  @media (max-width: $breakpoint-xsmall-max) {
    width: 100%;
  }
}

.steps {
  display: flex;
  align-items: flex-start;
  @media (max-width: $breakpoint-small-max) {
    flex-wrap: wrap;
  }
}

.steps-item {
  position: relative;
  z-index: 1;
  margin-left: 30px;
  @media (max-width: $breakpoint-small-max) {
    margin-left: 0;
    display: flex;
    align-items: center;
    margin-top: 22px;
  }
}

.steps-item:nth-child(1) {
  width: calc(34% - 20px);
  margin-left: 0;
  @media (max-width: $breakpoint-small-max) {
    width: 100%;
    margin-top: 0;
  }
}

.steps-item:nth-child(1) .steps-item__pattern {
  position: absolute;
  left: -58px;
  top: -65px;
  @media (max-width: $breakpoint-small-max) {
    left: -31px;
    top: -89px;
    width: 215px;
    height: 215px;
  }
}

.steps-item:nth-child(2) {
  width: calc(34% - 20px);
  @media (max-width: $breakpoint-small-max) {
    width: 100%;
  }
}

.steps-item:nth-child(2) .steps-item__pattern {
  position: absolute;
  left: 77px;
  top: -10px;
  @media (max-width: $breakpoint-small-max) {
    left: 127px;
    top: -39px;
    width: 132px;
    height: 132px;
  }
}

.steps-item:nth-child(3) {
  width: calc(32% - 20px);
  @media (max-width: $breakpoint-small-max) {
    width: 100%;
  }
}

.steps-item:nth-child(3) .steps-item__pattern {
  position: absolute;
  left: 102px;
  top: 4px;
  @media (max-width: $breakpoint-small-max) {
    left: 49px;
    top: 16px;
    width: 100px;
    height: 100px;
  }
}

.steps-item__number {
  font-size: 125px;
  font-weight: 800;
  color: #24315e;
  line-height: 1;
  @media (max-width: $breakpoint-small-max) {
    font-size: 68px;
    width: 40px;
    text-align: center;
    margin-right: 18px;
    flex-shrink: 0;
  }
}

.steps-item__title {
  font-size: 22px;
  line-height: 24px;
  color: #222;
  margin-top: 41px;
  min-height: 72px;
  @media (max-width: $breakpoint-small-max) {
    font-size: 16px;
    line-height: 1;
    margin-top: 0;
    min-height: auto;
  }
}

.steps-item__pattern {
  position: absolute;
  z-index: -1;
  fill: rgb(246, 246, 246);
}

.steps-item__arrow {
  height: 1px;
  width: 216px;
  background: #d2d2d2;
  position: absolute;
  left: 98px;
  top: 64px;
  @media (max-width: $breakpoint-small-max) {
    display: none;
  }
}

.steps-item__arrow::after {
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 20px solid #d2d2d2;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: none;
}

.section-contacts {
  padding-top: 185px;
  padding-bottom: 52px;
  background: url('../images/design/map-bg.jpg') no-repeat 50% 50%;
  background-size: cover;
  .contacts-headline + & {
    padding-top: 44px;
    padding-bottom: 158px;
    background: #fff;
  }
  @media (max-width: $breakpoint-small-max) {
    padding-top: 185px;
    padding-bottom: 52px;
    .contacts-headline + & {
      padding-top: 40px;
      padding-bottom: 120px;
    }
  }
  @media (max-width: $breakpoint-xsmall-max) {
    padding: 0;
    .contacts-headline + & {
      padding: 0;
    }
  }
}

.section-contacts__grid {
  margin-left: -40px;
  margin-top: -80px;
  display: flex;
  flex-wrap: wrap;
  @media (max-width: $breakpoint-xsmall-max) {
    margin: 0 -20px;
  }
}

.section-contacts__grid-cell {
  padding-left: 40px;
  padding-top: 80px;
  width: 50%;
  @media (max-width: $breakpoint-small-max) {
    width: 100%;
  }
  @media (max-width: $breakpoint-xsmall-max) {
    width: 100%;
    padding: 0 20px;
    background: #fff;
    &:first-child {
      order: 1;
      padding-top: 30px;
      padding-bottom: 10px;
    }
    &:last-child {
      padding-top: 27px;
      padding-bottom: 35px;
      background: url('../images/design/map-bg.jpg') no-repeat 50% 50%;
      background-size: cover;
    }
  }
}

.contacts-snippet {
  line-height: 24px;
  @media (max-width: $breakpoint-xsmall-max) {
    line-height: 18px;
  }
}

.contacts-snippet__title {
  font-size: 42px;
  font-weight: 900;
  line-height: 1;
  color: #222;
  margin-bottom: 45px;
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

.contacts-snippet__group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 272px;
  @media (max-width: $breakpoint-xsmall-max) {
    min-height: auto;
  }
}

.contacts-snippet__address {
  font-weight: 700;
  font-size: 18px;
  color: #222;
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 14px;
    font-weight: 400;
  }
}

.contacts-snippet__phones {
  font-weight: 800;
  font-size: 18px;
  color: #222;
  position: relative;
  padding-left: 31px;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 12px; */
  margin-top: 15px;
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 14px;
    font-weight: 400;
    padding-left: 25px;
  }
}

.contacts-snippet__phones a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: #2d0af0;
  }
}

.contacts-snippet__phones-icon {
  position: absolute;
  left: 4px;
  top: 2px;
  fill: #868686;
  @media (max-width: $breakpoint-xsmall-max) {
    left: 0;
    top: 0;
  }
}

.contacts-snippet__emails {
  font-weight: 700;
  font-size: 18px;
  color: #222;
  position: relative;
  padding-left: 31px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 14px;
    font-weight: 400;
    padding-left: 25px;
  }
}

.contacts-snippet__emails a {
  text-decoration: underline;
  color: inherit;
  &:hover {
    color: #2d0af0;
  }
}

.contacts-snippet__emails-icon {
  position: absolute;
  left: 6px;
  top: 9px;
  fill: #868686;
  @media (max-width: $breakpoint-xsmall-max) {
    top: 6px;
    left: 2px;
  }
}

.contacts-snippet__time {
  font-size: 16px;
  color: #222;
  position: relative;
  padding-left: 38px;
  flex-direction: column;
  /* margin-top: 75px; */
  margin-top: 15px;
  span {
    white-space: nowrap;
  }
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 14px;
    font-weight: 400;
    padding-left: 25px;
  }
}

.contacts-snippet__time-icon {
  position: absolute;
  left: 4px;
  top: 0;
  fill: #868686;
  @media (max-width: $breakpoint-xsmall-max) {
    left: 0;
  }
}

.feedback-form {

}

.feedback-form__title {
  font-size: 42px;
  font-weight: 900;
  line-height: 1;
  color: #222;
  margin-bottom: 45px;
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 24px;
    margin-bottom: 31px;
  }
}

.feedback-form__fields {
  display: grid;
  gap: 10px;
}

.feedback-form__name {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  @media (max-width: $breakpoint-xsmall-max) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
}

.feedback-form__email {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  @media (max-width: $breakpoint-xsmall-max) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
}

.feedback-form__phone {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  @media (max-width: $breakpoint-xsmall-max) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
}

.feedback-form__message {
  grid-row: 1 / 4;
  grid-column: 2 / 3;
  @media (max-width: $breakpoint-xsmall-max) {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }
}

.feedback-form__rules {
  margin-top: 27px;
  @media (max-width: $breakpoint-xsmall-max) {
    margin-top: 9px;
  }
}

.feedback-form__send {
  margin-top: 12px;
  @media (max-width: $breakpoint-xsmall-max) {
    margin-top: 18px;
    .ui-button-secondary {
      line-height: 54px;
      border-radius: 27px;
      font-size: 20px;
      padding: 0 28px;
      letter-spacing: 0.05em;
    }
  }
}

.footer {
  background: linear-gradient(#fff 0, #fff 76px, #f1f1f1 76px, #f1f1f1 100%, transparent);
  @media (max-width: $breakpoint-xsmall-max) {
    background: #f1f1f1;
    border-top: 1px solid #bbbec0;
    padding-top: 12px;
    padding-bottom: 6px;
  }
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-presence {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 6px;
  @media (max-width: $breakpoint-xsmall-max) {
    display: none;
  }
}

.footer-presence__logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer-presence__logo-image {
  
}

.footer-presence__logo-text {
  font-size: 24px;
  color: #9f9f9f;
  font-weight: 900;
  margin-left: 9px;
}

.footer-presence__slogan {
  font-size: 12px;
  color: #222;
  line-height: 1.33;
  margin-left: 29px;
}

.footer__sitemap {
  @media (max-width: $breakpoint-xsmall-max) {
    order: 30;
  }
}

.footer__sitemap a {
  font-size: 12px;
  text-decoration: underline;
  color: #222;
}

.footer__sitemap a:hover {
  color: #2d0af0;
}

.footer__counter {
  @media (max-width: $breakpoint-xsmall-max) {
    display: none;
  }
}

.footer__break-third {
  width: 100%;
}

.footer__break-first {
  margin: 0 auto;
  @media (max-width: $breakpoint-xsmall-max) {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    order: 15;
    height: 1px;
    background: #bbbec0;
    margin-top: 24px;
    margin-bottom: 5px;
  }
}

.footer__break-second {
  margin: 0 auto;
  @media (max-width: $breakpoint-xsmall-max) {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    order: 25;
    height: 1px;
    background: #bbbec0;
    margin-top: 5px;
    margin-bottom: 6px;
  }
}

.footer__break-third {
  margin: 0 auto;
  @media (max-width: $breakpoint-xsmall-max) {
    order: 35;
    width: auto;
  }
}

.footer__break-fourth {
  margin: 0 auto;
}

.footer__break-fifth {
  margin: 0 auto;
}

.footer__copyright {
  font-size: 12px;
  color: #222;
  margin: 12px 0;
  span {
    display: none;
  }
  @media (max-width: $breakpoint-xsmall-max) {
    order: 10;
    width: 100%;
    margin: 0;
    span {
      display: inline;
    }
  }
}

.footer__links {
  display: flex;
  align-items: center;
  margin: 12px 0;
  @media (max-width: $breakpoint-xsmall-max) {
    margin: 0;
    order: 20;
    width: 100%;
    justify-content: space-between;
  }
}

.footer__links a {
  font-size: 12px;
  text-decoration: underline;
  color: #222;
  margin: 0 10px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.footer__links a:hover {
  color: #2d0af0;
}

.footer__creator {
  filter: grayscale(100%);
  transition: filter .3s ease;
  margin: 11px 0;
  @media (max-width: $breakpoint-xsmall-max) {
    order: 40;
    margin: 0;
  }
}

.footer__creator img {
  display: block;
}

.footer__creator:hover {
  filter: grayscale(0);
}

.breadcrumbs {
  line-height: 1;
  font-size: 14px;
  padding: 11px 0;
  a {
    color: #b4b9b7;
    text-decoration: none;
  }
  > span {
    color: #444645;
  }
}

.contacts-headline {
  // background: url('../images/design/contacts-headline.jpg') no-repeat 50% 50%;
  // background-size: cover;
  // padding: 100px 0 120px;
  position: relative;
  height: 285px;
  display: flex;
  align-items: center;
  h1 {
    font-size: 65px;
    font-weight: 900;
    color: #222;
    line-height: 1;
    margin: 0;
    position: relative;
    z-index: 20;
    @media (max-width: $breakpoint-xsmall-max) {
      font-size: 36px;
    }
  }
  @media (max-width: $breakpoint-xsmall-max) {
    height: auto;
    padding: 40px 0;
  }
}

.contacts-headline__map {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  @media (max-width: $breakpoint-xsmall-max) {
    display: none;
  }
}

.section-page {
  padding: 40px 0;
  @media (max-width: $breakpoint-xsmall-max) {
    padding: 20px 0;
  }
}

.section-page__title {
  font-size: 65px;
  color: #222;
  line-height: 1;
  font-weight: 700;
  word-wrap: break-word;
  // letter-spacing: -0.025em;
  margin: 0;
  margin-bottom: 55px;
  @media (max-width: $breakpoint-large-max) {
    font-size: 54px;
  }
  @media (max-width: $breakpoint-small-max) {
    font-size: 48px;
    margin-bottom: 48px;
  }
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 36px;
    margin-bottom: 36px;
  }
}

.content {
  font-size: 18px;
  line-height: 1.34;
  color: #222;
  a {
    color: #007dff;
    text-decoration: underline;
    &:hover {
      color: #f14f46;
    }
    &:visited {
      color: #c663ff;
    }
  }
  p {
    margin: 0;
  }
  * + p {
    margin-top: 1.4em;
  }
  h2 {
    font-size: 2em;
    line-height: 1;
    margin: 0.66em 0 1.33em;
  }
  .wsp-posts-title,
  .wsp-laws-title,
  .wsp-projects-title,
  .wsp-pages-title {
    margin-top: 2em;
  }
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 16px;
    line-height: 1.5;
    // margin-bottom: 40px;
    padding: 0;
  }
  @media (max-width: 599px) {
    .wp-block-column + .wp-block-column {
      margin-top: 2em;
    }
  }
}

.hf-message {
  font-size: 18px;
  padding: 20px;
  border: 3px solid #14c3ff;
  background: #fff;
  text-align: center;
}

.hf-message-success {
  border-color: #14c3ff;
}

.hf-message-warning {
  border-color: #ffcb16;
}

.section-request {
  background: #202e5b url('../images/design/calc-bg.jpg') no-repeat 50% 100%;
  padding-top: 160px;
  border-bottom: 1px solid #202e5b;
  position: relative;
  z-index: 20;
  @media (max-width: $breakpoint-small-max) {
    padding-top: 120px;
  }
  @media (max-width: $breakpoint-xsmall-max) {
    background-image: url('../images/design/calc-bg-mobile.jpg');
    background-size: 100% auto;
    background-position: 50% 0;
    padding-top: 36px;
  }
}

.section-request__title {
  font-weight: bold;
  text-align: center;
  font-size: 42px;
  color: #fff;
  margin-bottom: 47px;
  line-height: 1;
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 33px;
  }
}

.section-request__desc {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.025em;
  margin-bottom: 42px;
  line-height: 1.5;
  @media (max-width: $breakpoint-xsmall-max) {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 17px;
  }
}

.section-request__form {
  margin-bottom: -41px;
  width: 855px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: $breakpoint-xsmall-max) {
    margin-bottom: 5px;
    margin-left: -15px;
    margin-right: -15px;
    max-width: calc(100% + 30px);
  }
}
