@use 'sass:math';

@import 'functions';
@import 'variables';

.header {
  z-index: 200;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #24315e;
  transition: .3s ease;
  transition-property: background, box-shadow;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.19);
}

body.logged-in.admin-bar .header {
  top: 32px;
}

@media screen and (max-width: 782px) {
  #wpadminbar {
    position: fixed !important;
  }
  body.logged-in.admin-bar .header {
    top: 46px;
  }
}

.header-placeholder {
  height: 94px;
  @media (max-width: $breakpoint-large-max) {
    height: 76px;
  }
  @media (max-width: $breakpoint-medium-max) {
    height: 68px;
  }
  @media (max-width: $breakpoint-small-max) {
    height: 64px;
  }
}

.body_float-header .header-placeholder {
  display: none;
}

.body_float-header .header {
  background: transparent;
  box-shadow: none;
  @media (max-width: $breakpoint-small-max) {
    background: #24315e;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.19);
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1880px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  @media (max-width: $breakpoint-small-max) {
    align-items: flex-start;
  }
}

.header-toggle {
  display: block;
  width: 48px;
  height: 48px;
  position: relative;
  text-decoration: none;
  background: transparent;
  border-radius: none;
  border: none;
  cursor: pointer;
  margin-left: -11px;
  margin-top: 8px;
  margin-right: -8px;
  transition: .3s ease;
  z-index: 20;
  &:hover {
    background: #151c34;
  }
  span {
    background: #d1d3dd;
    width: 27px;
    height: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: .3s ease;
    &:nth-child(1) {
      transform: translate(-50%, calc(-50% - 8px));
    }
    &:nth-child(2) {
      transform: translate(-50%, -50%);
    }
    &:nth-child(3) {
      transform: translate(-50%, calc(-50% + 8px));
    }
  }
  @media (min-width: $breakpoint-medium) {
    display: none;
  }
}

// .header.header_menu-opened .header-toggle span:nth-child(1) {
//   transform: translate(-50%, -50%) rotate(-45deg);
// }

// .header.header_menu-opened .header-toggle span:nth-child(2) {
//   transform: translate(-50%, -50%) scale(0);
// }

// .header.header_menu-opened .header-toggle span:nth-child(3) {
//   transform: translate(-50%, -50%) rotate(45deg);
// }

// .header.header_menu-opened .header-toggle {
//   transform: translateX(260px);
//   background: #151c34;
// }

.header-presence {
  display: flex;
  align-items: center;
  @media (max-width: $breakpoint-small-max) {
    margin-top: 5px;
  }
}

.header-presence__logo-and-address {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header-presence__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
}

.header-presence__logo-text {
  font-size: 36.69px;
  color: white;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 900;
  // letter-spacing: 0.005em;
  margin: 4px 0 0 0px;
  // @media (max-width: $breakpoint-large-max) {
  //   font-size: 32px;
  // }
  @media (max-width: $breakpoint-large-max) {
    font-size: 28px;
  }
  @media (max-width: $breakpoint-small-max) {
    font-size: 24px;
  }
}

.header-presence__logo-image {
  display: block;
  width: 62px;
  height: 50px;
  @media (max-width: $breakpoint-large-max) {
    width: 42px;
    height: 33px;
  }
}

.header-presence__address {
  font-size: 11px;
  color: #fff;
  line-height: 1;
  white-space: nowrap;
  margin-top: 8px;
  margin-left: 20px;
  @media (max-width: $breakpoint-large-max) {
    font-size: 10px;
    margin-left: 0;
  }
}

.header-presence__slogan-and-time {
  display: flex;
  flex-direction: column;
  margin-left: 4px;
  margin-top: 6px;
  position: relative;
  // @media (max-width: $breakpoint-large-max) {
  //   display: none;
  // }
  @media (max-width: 1760px) {
    display: none;
  }
}

.header-presence__slogan {
  color: #fff;
  font-size: 14px;
  line-height: 1;
  opacity: 0.77;
  border-left: 1px solid rgba(180, 183, 194, 0.54);
  padding-left: 8px;
  max-width: 200px;
}

.header-presence__time {
  font-size: 11px;
  color: #fff;
  line-height: 1;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 6px;
  letter-spacing: 0.04em;
}

.header-presence__time svg {
  fill: rgb(134, 134, 134);
  margin-right: 7px;
  margin-top: -4px;
  width: 16px;
  height: 16px;
}

.header-menu {
  @media (max-width: $breakpoint-small-max) {
    display: none;
  }
}

.header-menu > ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  // margin: 25px 0;
  // @media (max-width: $breakpoint-large-max - math.div($breakpoint-step, 2)) {
  //   margin: 24px 0;
  // }
  // @media (max-width: $breakpoint-medium-max - math.div($breakpoint-step, 2)) {
  //   margin: 16px 0;
  // }
}

.header-menu > ul > li {
  margin: 0 32px;
  @media (max-width: $breakpoint-large-max - math.div($breakpoint-step, 2)) {
    margin: 0 24px;
  }
  // @media (max-width: $breakpoint-medium-max - math.div($breakpoint-step, 2)) {
  //   margin: 0 16px;
  // }
  // @media (max-width: $breakpoint-large-max) {
  //   margin: 0 24px;
  // }
  @media (max-width: $breakpoint-medium-max - math.div($breakpoint-step, 2)) {
    margin: 0 16px;
  }
}

.header-menu > ul > li > a {
  font-weight: bold;
  font-size: 22px;
  color: #fff;
  line-height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
  // padding: 28px 30px;
  padding: 0;
  text-decoration: none;
  // @media (max-width: $breakpoint-large-max - math.div($breakpoint-step, 2)) {
  //   font-size: 22px;
  //   // padding: 24px;
  // }
  @media (max-width: $breakpoint-large-max) {
    font-size: 18px;
    // padding: 24px;
  }
  @media (max-width: $breakpoint-medium-max) {
    font-size: 16px;
  }
  // @media (max-width: $breakpoint-medium-max - math.div($breakpoint-step, 2)) {
  //   // padding: 16px;
  //   font-size: 18px;
  // }
}

.header-menu > ul > li.menu-item-has-children {
  position: relative;
}

.header-menu > ul > li.menu-item-has-children > a::after {
  content: '';
  width: 8px;
  height: 8px;
  display: block;
  transform: rotate(-45deg);
  border-bottom: 3px solid #d5d5d5;
  border-left: 3px solid #d5d5d5;
  transition: .2s ease-in-out;
  transition-property: border-bottom-color, border-left-color;
  margin-left: 8px;
  margin-right: -8px;
  @media (max-width: $breakpoint-large-max) {
    margin-left: 6px;
    margin-right: -6px;
    width: 6px;
    height: 6px;
    border-bottom-width: 2px;
    border-left-width: 2px;
  }
}

.header-menu > ul > li.menu-item-has-children:hover > a::after {
  border-bottom-color: #fff;
  border-left-color: #fff;
}

.header-menu > ul > li.menu-item-has-children:hover > ul {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.header-menu > ul > li > a::before {
  content: '';
  height: 5px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: scale(0) translateX(-50%);
  transform-origin: 0 50%;
  background: #ff144d;
  width: 40px;
  transition: transform .2s ease-in-out;
}

.header-menu > ul > li.current-menu-item > a::before {
  transform: scale(1) translateX(-50%);
}

.header-menu > ul > li > a:hover::before {
  transform: scale(1) translateX(-50%);
}

.header-menu > ul > li > ul {
  display: block;
  position: absolute;
  list-style: none;
  left: 0;
  width: 320px;
  max-width: 100vw;
  top: 100%;
  background-color: rgba(255, 255, 255, 0.949);
  box-shadow: 1.414px 1.414px 3px 0px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #ff144d;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: scale(1, 0.9);
  transition: all .3s ease;
  transform-origin: 50% 0;
  margin: 0;
  padding: 16px 0;
}

.header-menu > ul > li > ul::before {
  content: '';
  position: absolute;
  height: 10px;
  top: -10px;
  left: 0;
  width: 100%;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.19);
}

.header-menu > ul > li > ul > li {}

.header-menu > ul > li > ul > li > a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  font-size: 16px;
  display: block;
  line-height: 1;
  padding: 12px 34px;
}

.header-menu > ul > li > ul > li > a:hover {
  color: #2d0af0;
  background-color: rgba(189, 189, 189, 0.349);
}

.header-menu > ul > li > ul > li > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-menu > ul > li > ul > li > ul > li {}

.header-menu > ul > li > ul > li > ul > li > a {
  text-decoration: none;
  color: #424242;
  font-size: 16px;
  display: block;
  line-height: 1;
  padding: 12px 20px 12px 54px;
  position: relative;
}

.header-menu > ul > li > ul > li > ul > li > a::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 1px;
  background: currentColor;
  left: 40px;
  top: 20px;
  box-shadow: -1px -1px 0 currentColor, -2px -2px 0 currentColor, -1px 1px 0 currentColor, -2px 2px 0 currentColor, 2px 0 0 currentColor, 1px -1px 0 currentColor, 0 -2px 0 currentColor, 1px 1px 0 currentColor, 0 2px 0 currentColor;
}

.header-menu > ul > li > ul > li > ul > li > a:hover {
  color: #2d0af0;
  background-color: rgba(189, 189, 189, 0.349);
}

.header-contacts {
  display: flex;
  align-items: flex-start;
  padding-top: 19px;
  padding-bottom: 10px;
  @media (max-width: $breakpoint-large-max) {
    padding-top: 10px;
    // padding-bottom: 0;
  }
  @media (max-width: $breakpoint-small-max) {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: -20px;
  }
}

.header-contacts__phones_and_email {
  display: flex;
  flex-direction: column;
  margin-right: 28px;
  margin-top: 1px;
  margin-bottom: 1px;
  @media (max-width: $breakpoint-large-max) {
    margin-right: 14px;
  }
  @media (max-width: $breakpoint-medium-max) {
    display: none;
  }
}

.header-contacts__phones {
  display: flex;
  flex-direction: column;
}

.header-contacts__phone {
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.025em;
  text-decoration: none;
  white-space: nowrap;
  @media (max-width: $breakpoint-large-max) {
    font-size: 15px;
  }
}

.header-contacts__phone + .header-contacts__phone {
  margin-top: 7px;
}

.header-contacts__email {
  font-size: 11px;
  line-height: 1;
  color: #fff;
  display: flex;
  align-items: center;
  letter-spacing: 0.22em;
  margin-top: 9px;
  @media (max-width: $breakpoint-large-max) {
    font-size: 9px;
    margin-top: 5px;
  }
}

.header-contacts__email svg {
  fill: #868686;
  margin-right: 8px;
  margin-left: 3px;
  width: 13px;
  height: 10px;
}

.header-contacts__email span {
  text-decoration: underline;
}

.header-contacts__callback {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: none;
  color: #fff;
  background: #ff144d;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s ease-in;
  transition-property: background-color, box-shadow;
  @media (max-width: $breakpoint-large-max) {
    width: 48px;
    height: 48px;
  }
  @media (max-width: $breakpoint-small-max) {
    border-radius: 50% 0 0 50%;
  }
}

.header-contacts__callback svg {
  fill: #ffffff;
  width: 17px;
  height: 17px;
  @media (max-width: $breakpoint-small-max) {
    width: 18px;
    height: 18px;
  }
}

.header-contacts__callback:hover {
  background-color: rgb(229, 18, 69);
  box-shadow: 1.871px 8.803px 16px 0px rgba(255, 20, 77, 0.5);  
}
