.intro {
  background: url('../images/design/intro-bg.jpg') no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding-bottom: 100px;
  padding-top: 207px;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.intro::before {
  content: '';
  background: url('../images/design/intro-pattern.png') no-repeat 0 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.intro__title {
  font-size: 60px;
  color: rgb(254, 254, 254);
  font-weight: bold;
  line-height: 1.2;
  margin-left: 16px;
}

.intro__submit-block {
  display: flex;
  margin-top: 32px;
}

.intro__submit {
  color: rgb(254, 254, 255);
  text-shadow: -0.914px 0.407px 1px rgba(0, 0, 0, 0.25);
  background-color: rgb(255, 20, 77);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  line-height: 54px;
  letter-spacing: 0.05em;
  padding-left: 45px;
  padding-right: 45px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 28px;
  border: none;
  transition: .3s ease-in;
  transition-property: background-color, box-shadow;
}

.intro__submit:hover {
  background-color: rgb(229, 18, 69);
  box-shadow: 1.871px 8.803px 16px 0px rgba(255, 20, 77, 0.5);
}

.home-services {
  padding: 87px 0 82px;
}

.home-services__title {
  font-size: 65px;
  color: #222;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 42px;
  margin-left: 9px;
}

.home-services__content {
  font-size: 18px;
  color: #222222;
  line-height: 1.34;
  column-count: 2;
  column-gap: 40px;
  margin-bottom: 49px;
  margin-left: 17px;
}

.home-services__content p {
 break-inside: avoid-column;
 margin: 0;
}

.home-services__content p + p {
  margin-top: 24px;
}

.home-services__grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-top: -4px;
}

.home-services__grid-cell {
  width: 25%;
  padding-left: 4px;
  padding-top: 4px;
}

.home-term {
  background: #24315e url('../images/design/home-term.png') no-repeat calc(50% - 85px) calc(100% + 65px);
  font-size: 42px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 65px 0 58px;
  line-height: 1.34;
}

.home-about {
  display: flex;
  background: #f4f4f4 url('../images/design/about-pattern.png') no-repeat 0 0;
}

.home-about__image {
  display: block;
  background: url('../images/design/vehicle.png') no-repeat 50% 50%;
  background-size: contain;
  width: 846px;
  height: 781px;
  margin: 78px auto -112px;
}

.home-about__left {
  width: 50%;
}

.home-about__right {
  width: 595px;
  padding-top: 140px;
  padding-bottom: 160px;
  padding-left: 12px;
  padding-right: 30px;
}

.home-about__title {
  font-size: 42px;
  color: #222222;
  font-weight: bold;
  margin-right: -30px;
  margin-left: -5px;
}

.home-about__content {
  font-size: 18px;
  color: #222;
  margin-top: 12px;
  line-height: 1.3;
}

.home-about__content p {
  margin: 0;
}

.home-about__content p + p {
  margin-top: 24px;
}

.home-about__buttons {
  display: flex;
  gap: 25px;
  margin-top: 28px;
}

.home-about__buttons > * {
  width: 100%;
  padding: 0 5px;
}

.home-about__notes {
  font-size: 15px;
  line-height: 1.2;
  color: #222222;
  width: 420px;
  max-width: 100%;
  margin: 0 0 34px 72px;
}

.home-about__notes span {
  color: #2e0bf0;
}

.home-about__notes p {
  margin: 0;
}

.home-about__notes p + p {
  margin-top: 22px;
}

.home-guarantee {
  padding-top: 160px;
  padding-bottom: 131px;
}

.home-guarantee__title {
  font-size: 42px;
  font-weight: bold;
  color: #222;
  margin-bottom: 70px;
  line-height: 1;
  margin-bottom: 55px;
}

.home-guarantee__grid {
  display: flex;
  margin-left: -30px;
}

.home-guarantee__grid-cell {
  padding-left: 30px;
}

.home-calc {
  background: #202e5b url('../images/design/calc-bg.jpg') no-repeat 50% 100%;
  padding-top: 160px;
  border-bottom: 1px solid #202e5b;
}

.home-calc__title {
  font-weight: bold;
  text-align: center;
  font-size: 42px;
  color: #fff;
  margin-bottom: 47px;
  line-height: 1;
}

.home-calc__desc {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.025em;
  margin-bottom: 42px;
  line-height: 1.5;
}

.home-calc__form {
  margin-bottom: -41px;
  width: 855px;
  margin-left: auto;
  margin-right: auto;
}

.home-procedure {
  padding-top: 158px;
  padding-bottom: 84px;
}

.home-procedure__title {
  position: relative;
  z-index: 2;
  font-size: 42px;
  color: #222;
  font-weight: bold;
  line-height: 1;
}

.home-procedure__steps {
  position: relative;
  z-index: 1;
  margin-top: 62px;
}

.home-procedure__send {
  position: relative;
  z-index: 2;
  margin-top: 12px;
}

.home-procedure__send > .ui-button-primary {
  padding-left: 40px;
  padding-right: 40px;
  letter-spacing: 0.05em;
}
