.intro {
  background: url('../images/design/intro-bg.jpg') no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding-bottom: 240px;
  padding-top: 385px;
}

.intro::before {
  content: '';
  background: url('../images/design/intro-pattern.png') no-repeat 0 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.intro__title {
  font-size: 60px;
  color: rgb(254, 254, 254);
  font-weight: bold;
  line-height: 1.2;
}

.intro__submit-block {
  display: flex;
  margin-top: 20px;
}

.intro__submit {
  color: rgb(254, 254, 255);
  text-shadow: -0.914px 0.407px 1px rgba(0, 0, 0, 0.25);
  background-color: rgb(255, 20, 77);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  line-height: 56px;
  padding-left: 45px;
  padding-right: 45px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 28px;
  border: none;
  transition: .3s ease-in;
  transition-property: background-color, box-shadow;
}

.intro__submit:hover {
  background-color: rgb(229, 18, 69);
  box-shadow: 1.871px 8.803px 16px 0px rgba(255, 20, 77, 0.5);  
}
